<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3221fbc6-c6f4-40f2-b758-8e0b584b3e3c/resourcegroups/ZirProjekt/providers/Microsoft.Web/sites/VendingMachinesVk</ResourceId>
    <ResourceGroup>ZirProjekt</ResourceGroup>
    <ApiResourceId>/subscriptions/3221fbc6-c6f4-40f2-b758-8e0b584b3e3c/resourceGroups/ZirProjekt/providers/Microsoft.ApiManagement/service/VendingMachinesSysAPI/apis/VendingMachinesSysAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vendingmachinesvk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1ad2d3f4-dcb6-4d71-9d93-b4751bc1dd46</ProjectGuid>
    <MSDeployServiceURL>vendingmachinesvk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VendingMachinesVk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$VendingMachinesVk</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>